@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$black:#010101;

$r_tap_1280:1280px;
$r_tab_1186:1186px;
$r_tab_1000:1000px;
$r_tab_900:900px;
$r_tab_846:846px;
$r_mob_600:600px;
$r_mob_540:540px;
$r_mob_400:400px;

html{
    font-family: 'Inter', sans-serif;
    background: #F3F2F0;
}
body{
    margin: 0 auto;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    background-color: #F3F2F0;
    width: 1140px;
    top: 0;
    @media (max-width:$r_tap_1280) {
        justify-content: space-evenly;
    }
    @media (max-width:$r_tab_1186) {
        position: inherit;
        width: 100%;
        max-width: 1140px;
    }
    @media (max-width:$r_tab_846) {
        justify-content: inherit;
        margin-top: 20px;
        position: relative;
    }
    &__nav{
        @media (max-width:$r_tab_846) {
            display: none;
        }
    }
    &__menu{
        display: none;
        position: absolute;
        width: 26px;
        cursor: pointer;
        height: 20px;
        z-index: 99;
        background-image: url(../images/menu-black.svg);
        background-position: center;
        background-repeat: no-repeat;
        top: 1px;
        right: 10px;
        border: none;
        transition: 0.4s;
        background-color: transparent;
        &:hover{
            background-image: url(../images/menu-red.svg);
        }
        @media (max-width:$r_tab_846) {
            display: block;
        }
    }
    &__list{
        display: flex;
        list-style: none;
        gap: 28.3px;
        padding: 0;
        margin-top: 13px;
    }
    &__tel, &__mail{
        text-decoration: none;
        color: $black;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        transition: 0.3s;
        &:hover{
            color: #D40000;
        }
    }
    &__tel{
        margin-right: 21px;
    }
    &__mail{
        @media (max-width:$r_tab_846) {
            display: none;
        }
    }
    &__item{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        a{
            text-decoration: none;
            color: $black;
            transition: 0.3s;
            &:hover{
                color: #D40000;
            }
        }
    }
    &__baner{
        background-image: url(../images/head-buner.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 1140px;
        height: 310px;
        margin-top: 96px;
        @media (max-width:$r_tab_846) {
            height: 215px;
        }
        @media (max-width:$r_tab_846) {
            margin-top: 40px;
        }
    }
    &__contact{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: -2px;
            right: 144px;
            height: 24px;
            border-right: 1px solid $black;
            @media (max-width:$r_tab_846) {
                display: none;
            }
        }
    }
}

.about{
    padding-top: 98px;
    position: relative;
    @media (max-width:$r_tab_846) {
        padding-top: 40px;
    }
    &__name{
        font-weight: 400;
        font-size: 28px;
        line-height: 150%;
        @media (max-width:$r_tab_846) {
            font-size: 18px;
        }
    }
    &__title{
        font-weight: 700;
        font-size: 74px;
        line-height: 90px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 30px;
        @media (max-width:$r_tab_846) {
            font-size: 28px;
            margin-top: -12px;
        }
    }
    &__flex{
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-top: 99px;
        margin-left: -4px;
        &_wrap{
            display: flex;
            padding-top: 45px;
            margin-top: 57px;
            border-top: 1px solid $black;
            text-align: inherit;
            flex-wrap: wrap;
            gap: 52px;
            row-gap: 143px;
            padding-bottom: 31px;
            border-bottom: 1px solid $black;
            @media (max-width:$r_tab_1186) {
                row-gap: 20px;
            }
        }
    }
    &__links{
        display: flex;
        text-align: center;
        gap: 56px;
        margin: 0;
        padding: 0;
        margin-top: 2px;
        list-style: none;
        @media (max-width:$r_tab_846) {
            gap: 20px;
        }
        a{
            text-decoration: none;
            color: $black;
            @media (max-width:$r_tab_846) {
                font-size: 12px;
            }
            &:hover{
                color: #D40000;
            }
        }
    }
    &__link{
        position: relative;
        &::after{
            content: "|";
            position: absolute;
            right: -33px;
            @media (max-width:$r_tab_846) {
                right: -14px;
            }
        }
        &:nth-child(3){
            &::after{
                display: none;
            }
        }
    }
    &__discuss{
        border: none;
        background-color: transparent;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.18px;
        line-height: 150%;
        cursor: pointer;
        position: relative;
        @media (max-width:$r_tab_846) {
            font-size: 12px;
        }
        &::before{
            content: "";
            width: 170px;
            height: 2px;
            position: absolute;
            bottom: -4px;
            left: 5px;
            opacity: 0;
            transition: 0.3s;
            border-radius: 4rem;
            background-color: $black;
        }
        &:hover{
            &::before{
                opacity: 1;
            }
        }
        &::after{
            content: "";
            width: 15px;
            height: 10px;
            position: absolute;
            background-image: url(../images/Arrow.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            right: -26px;
            bottom: 8px;
        }
    }
    &__Polygon{
        position: absolute;
        width: 72px;
        height: 71px;      
        background-image: url(../images/Polygon.svg);
        background-size: cover;
        left: -138px;
        top: -18px;
        @media (max-width:$r_tab_846) {
            left: 16px;
            top: 110px;
            width: 33px;
            height: 33px;
        }
    }
    &__Ellipse{
        position: absolute;
        width: 253px;
        height: 253px;
        left: -113px;
        background-image: url(../images/Ellipse.svg);
        background-size: cover;
        top: -56px;
        z-index: -1;
        @media (max-width:$r_tab_846) {
            width: 135px;
            height: 135px;
            top: -13px;
            left: -38px;
        }
        &_mini{
            width: 106px;
            height: 106px;
            background-image: url(../images/Ellipse.svg);
            background-size: cover;
            position: absolute;
            right: 53px;
            top: 221px;
            z-index: -1;
            @media (max-width:$r_tab_846) {
                width: 60px;
                height: 60px;
                right: 41px;
                top: 203px;
            }
        }
    }
    &__item{
        max-width: 238px;
        &__title{
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            @media (max-width:$r_tab_846) {
                font-size: 12px;
            }
        }
        &__text{
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            opacity: 0.8;
            @media (max-width:$r_tab_846) {
                font-size: 10px;
            }
        }
    }
}
.aboutme{
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media (max-width:$r_tab_1186) {
        margin-top: 60px;
        width: 100%;
    }
    @media (max-width:$r_tab_846) {
        font-size: 24px;
    }
    &__text{
        font-weight: 400;
        font-size: 28px;
        width: 560px;
        margin-left: 389px;
        margin-top: 23px;
        line-height: 150%;
        opacity: 0.8;
        @media (max-width:$r_tab_1186) {
            margin-left: 0;
            width: 100%;
        }
        @media (max-width:$r_tab_846) {
            font-size: 16px;
        }
    }
    &__flex{
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-top: 43px;
        padding-right: 12px;
        gap: 32px;
        @media (max-width:$r_tab_846) {
            padding-bottom: 60px;
        }
        &_direction{
            display: flex;
            flex-direction: column;
            gap: 17px;
        }
    }
    &__item{
        max-width: 258px;
        height: 150px;
        &__title{
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            @media (max-width:$r_tab_846) {
                font-size: 12px;
            }

        }
        &__text{
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            opacity: 0.8;
            margin-top: 20px;
            @media (max-width:$r_tab_846) {
                font-size: 10px;
            }
        }
    }
}

.stages{
    list-style: none;
    padding: 0;
    margin: 0;
}

.stage{
    display: flex;
    align-items: center;
    height: 100.5px;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    &__padding{
        padding-top: 152px;
    }
    &__count{
        font-weight: 400;
        font-size: 28px;
        line-height: 150%;
        margin-right: 40px;
        @media (max-width:$r_tab_846) {
            font-size: 16px;
        }
        @media (max-width:$r_mob_540) {
            margin-right: 10px;
        }
    }
    &__title{
        font-weight: 400;
        font-size: 28px;
        line-height: 150%;
        width: 417px;
        @media (max-width:$r_tab_846) {
            font-size: 16px;
        }
        @media (max-width:$r_mob_540) {
            font-size: 16px;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        opacity: 0.8;
        margin-left: 164px;
        @media (max-width:$r_tab_846) {
            font-size: 12px;
        }
        @media (max-width:$r_mob_600) {
            margin-left: 0;
        }
        @media (max-width:$r_mob_540) {
            font-size: 10px;
        }
    }
}
.portfolio{
    &__title{
        text-transform:  uppercase;
        font-weight: 700;
        font-size: 74px;
        line-height: 90px;
        padding-top: 118px;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 144px;
        z-index: 1;
        @media (max-width:$r_tab_846) {
            font-size: 28px;
            padding: 80px 0 60px 0;
        }
        &::after{
            content: "";
            position: absolute;
            background-image: url(../images/Ellipse-portfolio.svg);
            width: 465px;
            height: 465px;
            right: 328px;
            bottom: -142px;
            z-index: -1;
            @media (max-width:$r_tab_846) {
                height: 197px;
                width: 197px;
                background-size: cover;
                right: 462px;
                bottom: -47px;
            }
        }
    }
    &__skills{
        background: linear-gradient(180deg, #E7E6E6 0%, rgba(231, 230, 230, 0) 100%);
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 435px;
        border-bottom: 1px solid $black;
        @media (max-width:$r_tab_846) {
            align-items: baseline;
            flex-direction: column;
            height: 100%;
            padding-bottom: 40px;
        }
        &__list{
            list-style: none;
            padding: 0;
            margin-bottom: 42px;
            @media (max-width:$r_tab_846) {
                font-size: 12px;
            }
            &__element{
                margin-bottom: 14px;
            }
        }
        .img_1{
            background-image: url(../images/Demonstration-1.png);  
            background-repeat: no-repeat;
            background-size: cover;
        }
        .img_2{
            background-image: url(../images/demonstration-2.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__img{
            width: 559px;
            height: 315px;
            border: none;
            z-index: 1;
            transition: 0.2s;
            text-transform: uppercase;
            text-decoration: none;
            color: $black;
            font-weight: 900;
            font-size: 33px;
            position: relative;
            @media (max-width:$r_mob_600) {
                width: 340px;
                height: 190px;
            }
            &:hover{
                opacity: 0.6;
                &::after{
                    content: "Просмотр";
                    position: absolute;
                    top: 320px;
                    left: 170px;
                    opacity: 1;
                    @media (max-width:$r_mob_600) {
                        display: none;
                    }
                }
            }
        }
        &__text{
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            @media (max-width:$r_tab_846) {
                font-size: 12px;
            }
        }
        &__title{
            margin: 0;
            padding: 17px 0 26px 0;
            font-weight: 700;
            font-size: 28px;
            line-height: 150%;
            @media (max-width:$r_tab_846) {
                font-size: 16px;
                position: relative;
                z-index: 99;
            }
        }
    }
    &__info{
        display: flex;
        flex-wrap: wrap;
        margin: 64px 49px 0 81px;
        gap: 148px;
        row-gap: 50px;
        padding-bottom: 100px;
        @media (max-width:$r_tab_846) {
            padding-bottom: 0;
            justify-content: center;
        }
        &__item{
            max-width: 238px;
            position: relative;
            &:first-child::after{
                content: "";
                position: absolute;
                left: -81px;
                top: 32px;
                width: 40px;
                height: 40px;
                background-image: url(../images/money.svg);
                background-repeat: no-repeat;
                background-size: cover;
                @media (max-width:$r_tab_846) {
                    width: 30px;
                    height: 30px;
                }
            }
            &:nth-child(2)::after{
                content: "";
                position: absolute;
                left: -80px;
                top: 32px;
                width: 40px;
                height: 40px;
                background-image: url(../images/image-plus.svg);
                background-repeat: no-repeat;
                background-size: cover;
                @media (max-width:$r_tab_846) {
                    width: 30px;
                    height: 30px;
                }
            }
            &:nth-child(3)::after{
                content: "";
                position: absolute;
                left: -80px;
                top: 32px;
                width: 40px;
                height: 40px;
                background-image: url(../images/clock.svg);
                background-repeat: no-repeat;
                background-size: cover;
                @media (max-width:$r_tab_846) {
                    width: 30px;
                    height: 30px;
                }
            }
            &:nth-child(4)::after{
                content: "";
                position: absolute;
                left: -81px;
                top: 32px;
                width: 40px;
                height: 40px;
                background-image: url(../images/telephone-2.svg);
                background-repeat: no-repeat;
                background-size: cover;
                @media (max-width:$r_tab_846) {
                    width: 30px;
                    height: 30px;
                }
            }
            &:nth-child(5)::after{
                content: "";
                position: absolute;
                left: -80px;
                top: 32px;
                width: 40px;
                height: 40px;
                background-image: url(../images/code-json.svg);
                background-repeat: no-repeat;
                background-size: cover;
                @media (max-width:$r_tab_846) {
                    width: 30px;
                    height: 30px;
                }
            }
            &:nth-child(6)::after{
                content: "";
                position: absolute;
                left: -80px;
                top: 32px;
                width: 40px;
                height: 40px;
                background-image: url(../images/file.svg);
                background-repeat: no-repeat;
                background-size: cover;
                @media (max-width:$r_tab_846) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        &__title{
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 0px;
            @media (max-width:$r_tab_846) {
                font-size: 12px;
            }
        }
        &__text{
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            opacity: 0.8;
            margin-top: 10px;
            @media (max-width:$r_tab_846) {
                font-size: 12px;
            }
        }
    }
    &__grid{
        display: grid;
        grid-template-areas:        "a b c d"
                                    "e f g h";
        margin-top: 67px;
        position: relative;
        @media (max-width:$r_tab_846) {
            margin-top: 60px;
        }
        &__title{
            font-weight: 500;
            font-size: 10px;
            line-height: 150%;
            color: white;
        }
        &__description{
            font-weight: 500;
            font-size: 10px;
            line-height: 150%;
            color: white;
        }
        &__html, &__css, &__js, &__jquery, &__bootstrap, &__php, &__vue, &__wordpress{
            position: absolute;
            opacity: 0;
            width: 232px;
            text-align: center;
            transition: 0.5s;
            background-color: #EA0E00;
            z-index: -1;
            @media (max-width:$r_tab_1000) {
                width: 216px;
            }
            @media (max-width:$r_tab_846) {
                display: none;
            }
        }
        &__html{
            bottom: -88px;
            right: 19px;
            &::after{
                content: "";
                position: absolute;
                background-image: url(../images/Polygon.svg);
                background-size: cover;
                width: 14px;
                height: 14px;
                top: -7px;
                left: 103px;
            }
        }
        &__css{
            bottom: -108px;
            right: 19px;
            &::after{
                content: "";
                position: absolute;
                background-image: url(../images/Polygon.svg);
                background-size: cover;
                width: 14px;
                height: 14px;
                top: -7px;
                left: 103px;
            }
        }
        &__js{
            bottom: -88px;
            right: 19px;
            &::after{
                content: "";
                position: absolute;
                background-image: url(../images/Polygon.svg);
                background-size: cover;
                width: 14px;
                height: 14px;
                top: -7px;
                left: 103px;
            }
        }
        &__jquery{
            bottom: -88px;
            right: 19px;
            &::after{
                content: "";
                position: absolute;
                background-image: url(../images/Polygon.svg);
                background-size: cover;
                width: 14px;
                height: 14px;
                top: -7px;
                left: 103px;
            }
        }
        &__bootstrap{
            bottom: -138px;
            right: 19px;
            &::after{
                content: "";
                position: absolute;
                background-image: url(../images/Polygon.svg);
                background-size: cover;
                width: 14px;
                height: 14px;
                top: -7px;
                left: 103px;
            }
        }
        &__php{
            bottom: -88px;
            right: 19px;
            &::after{
                content: "";
                position: absolute;
                background-image: url(../images/Polygon.svg);
                background-size: cover;
                width: 14px;
                height: 14px;
                top: -7px;
                left: 103px;
            }
        }
        &__vue{
            bottom: -88px;
            right: 19px;
            &::after{
                content: "";
                position: absolute;
                background-image: url(../images/Polygon.svg);
                background-size: cover;
                width: 14px;
                height: 14px;
                top: -7px;
                left: 103px;
            }
        }
        &__wordpress{
            bottom: -88px;
            right: 19px;
            &::after{
                content: "";
                position: absolute;
                background-image: url(../images/Polygon.svg);
                background-size: cover;
                width: 14px;
                height: 14px;
                top: -7px;
                left: 103px;
            }
        }
        &__item{
            max-width: 286px;
            height: 146px;
            position: relative;
            filter: grayscale(1);
            transition: 0.3s;
            border: 1px solid $black;
            opacity: 0.3;
            @media (max-width:$r_tab_846) {
                height: 111px;
            }
            @media (max-width:$r_mob_540) {
                height: 44px;
            }
            &:hover{
                filter: grayscale(0);
                opacity: 1;
            }
            &:first-child{
                transition: 2s;
                &:hover{
                    .portfolio__grid__html{
                        opacity: 1;
                        bottom: -68px;
                        right: 19px;
                        z-index: 2;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 71px;
                    background-image: url(../images/html5.jpg);
                    @media (max-width:$r_tab_846) {
                        background-size: 31px 35px;
                    }
                } 
            }
            &:nth-child(2){
                transition: 2s;
                &:hover{
                    .portfolio__grid__css{
                        opacity: 1;
                        bottom: -88px;
                        right: 19px;
                        z-index: 2;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 75px;
                    background-image: url(../images/CSS3.svg);
                    @media (max-width:$r_tab_846) {
                        background-size: 31px 35px;
                    }
                } 
            }
            &:nth-child(3){
                transition: 2s;
                &:hover{
                    .portfolio__grid__js{
                        opacity: 1;
                        bottom: -68px;
                        right: 19px;
                        z-index: 2;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 79px;
                    background-image: url(../images/JavaScript_.png);
                    @media (max-width:$r_tab_846) {
                        background-size: 32px;
                    }
                } 
            }
            &:nth-child(4){
                transition: 2s;
                &:hover{
                    .portfolio__grid__jquery{
                        opacity: 1;
                        bottom: -68px;
                        right: 19px;
                        z-index: 2;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 78px;
                    background-image: url(../images/jquery.png);
                    @media (max-width:$r_tab_846) {
                        background-size: 33px 34px;
                    }
                } 
            }
            &:nth-child(5){
                transition: 2s;
                &:hover{
                    .portfolio__grid__bootstrap{
                        opacity: 1;
                        bottom: -118px;
                        right: 19px;
                        z-index: 2;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 160px;
                    background-image: url(../images/Bootstrap.png);
                    @media (max-width:$r_tab_846) {
                        background-size: 72px;
                    }
                } 
            }
            &:nth-child(6){
                transition: 2s;
                &:hover{
                    .portfolio__grid__php{
                        opacity: 1;
                        bottom: -68px;
                        right: 19px;
                        z-index: 2;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 108px 58px;
                    background-image: url(../images/PHP.png);
                    @media (max-width:$r_tab_846) {
                        background-size: 40px 25px;
                    }
                } 
            }
            &:nth-child(7){
                transition: 2s;
                &:hover{
                    .portfolio__grid__vue{
                        opacity: 1;
                        bottom: -68px;
                        right: 19px;
                        z-index: 2;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 81px 71px;
                    background-image: url(../images/Vue.png);
                    @media (max-width:$r_tab_846) {
                        background-size: 35px 30px;
                    }
                } 
            }
            &:nth-child(8){
                transition: 2s;
                &:hover{
                    .portfolio__grid__wordpress{
                        opacity: 1;
                        bottom: -68px;
                        right: 19px;
                        z-index: 2;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 120px 111px;
                    background-image: url(../images/WordPress.svg);
                    @media (max-width:$r_tab_846) {
                        background-size: 72px;
                    }
                } 
            }   
        }
    }
}
.aside{
    border-bottom: 1px solid $black;
    &__text{
        font-weight: 400;
        font-size: 28px;
        line-height: 150%;
        padding-top: 179px;
        padding-bottom: 79px;
        max-width: 870px;
        margin: 0;
        @media (max-width:$r_tab_846) {
            font-size: 16px;
            padding-top: 80px;
            padding-bottom: 40px;
        }
    }
}
.rate{
    &__block{
        display: flex;
        justify-content: space-between;
        padding-top: 155px;
        @media (max-width:$r_tab_846) {
            padding-top: 80px;
        }
        @media (max-width:$r_tab_900) {
            flex-direction: column;
        }
    }
    &__title{
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        position: relative;
        @media (max-width:$r_tab_846) {
            font-size: 16px;
        }
        &::after{
            content: "";
            position: absolute;
            background-image: url(../images/Ellipse.svg);
            background-size: cover;
            width: 140px;
            height: 140px;
            top: -49px;
            left: -70px;
            z-index: -1;
            @media (max-width:$r_tab_846) {
                top: -59px;
            }
        }
    }
    &__text{
        max-width: 559px;
        font-weight: 400;
        font-size: 28px;
        line-height: 150%;
        opacity: 0.8;
        margin-top: 23px;
        @media (max-width:$r_tab_846) {
            font-size: 16px;
        }
    }
    &__cost{
        display: grid;
        grid-template-areas: "a b"
                             "c d";
        padding-top: 50px;
    }
    &__left{
        height: 363px;
        border-top: 1px solid $black;
        &__title{
            font-weight: 400;
            font-size: 28px;
            line-height: 150%;
            margin-top: 60px;
            max-width: 371px;
            margin-bottom: 20px;
            @media (max-width:$r_tab_846) {
                font-size: 16px;
            }
            @media (max-width:$r_mob_400) {
                max-width: 145px;
            }
        }
        &__description{
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            opacity: 0.8;
            margin-bottom: 75px;
            @media (max-width:$r_tab_846) {
                font-size: 10px;
            }
            @media (max-width:$r_mob_400) {
                max-width: 100px;
                margin-bottom: 20px;
            }
        }
        .about__discuss{
            margin-left: -4px;
            &::after{
                width: 10px;
                height: 5px;
                right: -15px;
            }
            &::before{
                width: 100px;
            }
        }
    }
    &__right{
        height: 363px;
        border-top: 1px solid $black;
        &__title{
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            margin-top: 60px;
            @media (max-width:$r_tab_846) {
                font-size: 12px;
            }
        }
        &__list{
            padding-left: 17px;
            margin-top: 20px;
        }
        &__li{
            font-weight: 400;
            font-size: 16px;
            line-height: 200%;
            opacity: 0.8;
            @media (max-width:$r_tab_846) {
                font-size: 12px;
            }
        }
        &__price{
            font-weight: 700;
            font-size: 42px;
            line-height: 150%;
            margin-top: 40px;
            position: relative;
            @media (max-width:$r_tab_846) {
                font-size: 22px;
            }
            &::after{
                content: "";
                position: absolute;
                background-image: url(../images/Ellipse.svg);
                background-size: cover;
                width: 90px;
                height: 90px;
                top: -12px;
                left: -45px;
                z-index: -1;
                @media (max-width:$r_tab_846) {
                    top: -29px;
                }
                @media (max-width:$r_mob_540) {
                    width: 40px;
                    height: 40px;
                    top: -7px;
                    left: -16px;
                }
            }
        }
    }
}
.btn-toggle{
        position: fixed;
        right: 15px;
        top: 10px;
        width: 34px;
        height: 34px;
        background-image: url(../images/moon-sun-svgrepo-com.svg);
        background-size: cover;
        background-position: center;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        border-radius: 100%;
        cursor: pointer;
        &:hover{
            background-image: url(../images/moon-red.svg);
        }
        @media (max-width:$r_tap_1280) {
            z-index: 3;
            bottom: 10px;
            right: 15px;
            top: inherit;
        }
}
.conect{
    .rate__block{
        padding-top: 96px;
        border-bottom: 1px solid $black;
        padding-bottom: 31px;
        @media (max-width:$r_tab_846) {
            padding-top: 40px;
        }
    }
    &__flex{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width:$r_tab_900) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    &__btn{
        display: block;
        text-align: center;
        margin-top: 39px;
        padding: 22px 0 19px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: white;
        background-color: #D40000;
        transition: 1s;
        border: none;
        @media (max-width:$r_tab_846) {
            font-size: 12px;
        }
        @media (max-width:$r_mob_600) {
            width: 328px;
        }
        &:hover{
            background-color: #EA0E00;
        }
    }
    &__input{
        margin-top: -2px;
        padding: 22px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        border: none;
        background-color: rgba($black, 0.05);
        @media (max-width:$r_tab_846) {
            font-size: 10px;
        }
        @media (max-width:$r_mob_600) {
            padding: 22px 187px 22px 22px;
        }
        &:focus{
            outline: none;
        }
    }
    &__date{
        display: flex;
        flex-direction: column;
        max-width: 560px;
        margin-top: 43px;
        @media (max-width:$r_tab_900) {
            margin-bottom: 60px;
        }
        @media (max-width:$r_mob_600) {
            align-items: center;
        }
        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            opacity: 0.8;
            margin-top: 18px;
            margin-bottom: 11px;
            @media (max-width:$r_tab_846) {
                font-size: 10px;
            }
        }
    }
    .rate__title{
        max-width: 300px;
        &::after{
            width: 300px;
            height: 300px;
            top: -29px;
            left: -152px;
            @media (max-width:$r_tab_846) {
                top: -60px;
                left: -51px;
                width: 190px;
                height: 190px;
            }
        }
        &::before{
            content: "";
            position: absolute;
            background-image: url(../images/Polygon.svg);
            background-repeat: no-repeat;
            width: 73.34px;
            height: 91.67px;
            top: 24px;
            left: -176px;
            @media (max-width:$r_tab_846) {
                width: 39.13px;
                background-size: cover;
                height: 39.13px;
                top: -61px;
                left: 92px;
            }
        }
    }
}
.my-work{
    padding: 12px 0 22px;
    &__text{
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        &-opacity{
        opacity: 0.3;
        }
    }
    &__link{
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: $black;
        opacity: 0.3;
        transition: 0.3s;
        &:hover{
            opacity: 1;
        }
    }
    &__flex{
        display: flex;
        justify-content: space-between;
        @media (max-width:$r_tab_846) {
            flex-direction: column;
            align-items: center;
        }
    }
}
.drop{
    display:inline-block;
    position: relative;
    input[type="checkbox"]{
      display:none;
      &:checked{
        ~.drop-items{
          position: relative;
          opacity:1;
          max-height: 400px;   
        }
        ~.control{       
          z-index:99;
          &:after{transform: rotate(180deg);}
        }
        ~.overlay-close{
          transform: none;
          pointer-events:initial;
        }
      }
    }
    
    .control{
      position:relative;
      color: $black;
      display:inline-block;
      cursor: pointer;
      padding: 1.9em 1.7em;
      background-color: rgba($black, .05);
      transition: all .3s ease;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      &:after{
        content:"";
        display:inline-block;
        height: 15px;
        width: 14px;
        margin-left: 37.723em;
        background-image: url(../images/Arrow-input.svg);
        background-repeat:no-repeat;
        background-position: 0 7px;
        background-size: contain;      
        transition: transform .3s ease;
        @media (max-width:$r_mob_600) {
            margin-left: 18.723em;
        }
        @media (max-width:$r_mob_400) {
            margin-left: 18.5em;
        }
      }
    }
    
    .drop-items{
      position: absolute;
      top: calc(100% + .4rem);    
      width: 100%;
      padding:0;
      margin:0;
      transition: all .3s ease;   
      overflow:hidden;
      max-height:0;
      z-index:99;
      background-color: rgba($black, .005);
      
      .item-drop{
        list-style:none;
        background-color: rgba($black, .05);
        a{        
          display:block;
          color: $black;
          text-decoration: none;
          padding: 1rem;
          transition: all .3s ease;
          opacity: 0.4;
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;
          @media (hover: hover) {
            &:hover{
              color: $black;
              opacity: 1;
            }          
          }
        }
      }
    }
    
    .overlay-close{
      position: fixed;    
      top:0;
      left:0;
      bottom:0;
      right:0;
      z-index:9;
      transform: translate(100%,0);
      pointer-events:none;
    }
  }
.adapt{
    @media (max-width:$r_mob_400) {
        margin-bottom: 40px;
    }
}
.footer{
    margin-top: 129px;
    @media (max-width:$r_tab_846) {
        margin-top: 60px;
    }
    .header{
        position: inherit;
        padding-top: 48px;
        border-top: 1px solid black;
        max-width: 1140px;
        @media (max-width:$r_tab_846) {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__list{
            @media (max-width:$r_mob_540) {
                flex-direction: column;
            }
        }
        &__nav{
            @media (max-width:$r_tab_846) {
                display: block;
            }
        }
        &__mail{
            @media (max-width:$r_tab_846) {
                display: block;
            }
        }
        &__contact{
            @media (max-width:$r_tab_846) {
                display: flex;
            }
            &::after{
                @media (max-width:$r_tab_846) {
                    display: block;
                    right: 140px;
                }
            }
        }
    }
}

.menu{
    position: absolute;
    top: -400px;
    left: -490px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 35px;
    padding: 80px 10px 40px;
    width: 0px;
    background-color: #232326;
    color: white;
    opacity: 0;
    transition: 1s;
    @media (max-width:$r_tab_846) {
        width: 500px;
    }
    @media (max-width:$r_mob_540) {
        width: 330px;
        left: -310px;
    }
    .header__nav{
        display: block;
    }
    .header__contact{
        display: flex;
        justify-content: center;
        &::after{
            right: 257px;
            border-color: white;
            display: block;
            @media (max-width:$r_mob_540) {
                right: 171px;
            }
            &:hover{
                border-color: #D40000;
            }
        }
    }
    .about__links{
        justify-content: center;
        a{
            color: white;
            &:hover{
                color: #D40000;
            }
        }
    }
    .header__list{
        flex-direction: column;
        gap: 0;
        border-top: 1px solid #f3f2f021;
        border-bottom: 1px solid #f3f2f021;
    }
    .header__item{
        padding: 10px 0;
        margin: 0;
        border-top: 1px solid #f3f2f021;
        border-bottom: 1px solid #f3f2f021;
        a{
            color: white;
            &:hover{
                color: #D40000;
            }
        }
    }
    .header__tel{
        color: white;
        &:hover{
            color: #D40000;
        }
    }
    .header__mail{
        color: white;
        display: block;
        &:hover{
            color: #D40000;
        }
    }
    .close__btn{
        position: absolute;
        right: 10px;
        top: 10px;
        background-image: url(../images/close.svg);
        background-size: cover;
        width: 20px;
        height: 20px;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            background-image: url(../images/close-red.svg);
        }
    }
}

.show{
    opacity: 1;
    top: -21px;
}

// DARK-THEME
.dark{
    color: white;
    background: #232326;
    .btn-toggle{
        background-image: url(../images/sun.svg);
        background-size: cover;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s;
        &:hover{
            background-image: url(../images/sun-red.svg);
        }
    }
    .header__contact::after , .about__flex_wrap, .stage, .portfolio__item, .aside, .portfolio__grid__item, .rate__right, .rate__left, .portfolio__grid{
        border-color: white;
    }
    .rate__title{
        position: relative;
        z-index: 1;
        &::after{
            background-image: url(../images/Ellipse-dark.svg);
            z-index: -1;
        }
    }
    .rate__right__price{
        position: relative;
        z-index: 1;
        &::after{
            background-image: url(../images/Ellipse-dark.svg);
            z-index: -1;
        }
    }
    .header__menu{
        background-image: url(../images/menu.svg);
        &:hover{
            background-image: url(../images/menu-red.svg);
        }
    }
    .portfolio{
        &__skills{
        background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
        }
        &__title::after{
            background-image: url(../images/Ellipseportfolio-dark.svg);
        }
        &__info{
            &__item{
                &:first-child{
                    &::after{
                        background-image: url(../images/cil_money\ DARK.svg);
                    }
                }
                &:nth-child(2){
                    &::after{
                        background-image: url(../images/cil_image-plus\ DARK.svg);
                    }
                }
                &:nth-child(3){
                    &::after{
                        background-image: url(../images/bi_clock-historyDARK.svg);
                    }
                }
                &:nth-child(4){
                    &::after{
                        background-image: url(../images/telephone-DARK.svg);
                    }
                }
                &:nth-child(5){
                    &::after{
                        background-image: url(../images/mdi_code-json-DARK.svg);
                    }
                }
                &:nth-child(6){
                    &::after{
                        background-image: url(../images/file-DARK.svg);
                    }
                }
            }
        }
    }
    .conect{
        .rate__title::before{
            background-image: url(../images/Polygon-dark.svg);
        }
    }
    .header{
        background-color: #232326;
    }
    .about{
        &__title{
            position: relative;
            z-index: 1;
        }
        &__name{
            position: relative;
            z-index: 1;
        }
        &__flex{
            position: relative;
            z-index: 1;
        }
        &__links a{
            color: white;
            &:hover{
                color: #EA0E00;
            }
        }
        &__discuss{
        color: white;
            &::after{
                background-image: url(../images/Arrow\ white.svg);
            }
        }
        &__Ellipse{
            background-image: url(../images/Ellipse-dark.svg);
            z-index: 0;
            &_mini{
                background-image: url(../images/Ellipse-dark.svg);
                z-index: 0;
            }
        }
        &__Polygon{
            background-image: url(../images/Polygon-dark.svg);
        }
    }
    a, .control , .drop .drop-items .item-drop a {
        color: white;
    }
    .control{
        &::after{
            background-image: url(../images/row-control.svg);
        }
    }
    li{
        color: white;
    }
}