@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$black:#010101;

html{
    font-family: 'Inter', sans-serif;
    background: #F3F2F0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 27px;
    &__list{
        display: flex;
        list-style: none;
        gap: 28.3px;
        padding: 0;
        margin-top: 13px;
    }
    &__tel, &__mail{
        text-decoration: none;
        color: $black;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }
    &__tel{
        margin-right: 21px;
    }
    &__item{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        a{
            text-decoration: none;
            color: $black;
        }
    }
    &__baner{
        background-image: url(../images/head-buner.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 1140px;
        height: 310px;
        margin-top: 47px;
    }
    &__contact{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: -2px;
            right: 144px;
            height: 24px;
            border-right: 1px solid $black;
        }
    }
}

.about{
    padding-top: 98px;
    position: relative;
    &__name{
        font-weight: 400;
        font-size: 28px;
        line-height: 150%;
    }
    &__title{
        font-weight: 700;
        font-size: 74px;
        line-height: 90px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 30px;
    }
    &__flex{
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-top: 99px;
        margin-left: -4px;
        &_wrap{
            display: flex;
            padding-top: 45px;
            margin-top: 57px;
            border-top: 1px solid $black;
            text-align: inherit;
            flex-wrap: wrap;
            gap: 52px;
            row-gap: 143px;
            padding-bottom: 31px;
            border-bottom: 1px solid $black;
        }
    }
    &__links{
        display: flex;
        text-align: center;
        gap: 56px;
        margin: 0;
        padding: 0;
        margin-top: 2px;
        list-style: none;
        a{
            text-decoration: none;
            color: $black;
        }
    }
    &__link{
        position: relative;
        &::after{
            content: "|";
            position: absolute;
            right: -33px;
        }
        &:nth-child(3){
            &::after{
                display: none;
            }
        }
    }
    &__discuss{
        border: none;
        background-color: transparent;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.18px;
        line-height: 150%;
        cursor: pointer;
        position: relative;
        &::after{
            content: "";
            width: 15px;
            height: 10px;
            position: absolute;
            background-image: url(../images/Arrow.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            right: -26px;
            bottom: 8px;
        }
    }
    &__Polygon{
        position: absolute;
        left: -150px;
        top: -18px;
    }
    &__Ellipse{
        position: absolute;
        left: -127px;
        top: -56px;
        z-index: -1;
        &_mini{
            width: 106px;
            height: 106px;
            position: absolute;
            right: 38px;
            top: 221px;
            z-index: -1;
        }
    }
    &__item{
        max-width: 238px;
        &__title{
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.03em;
            text-transform: uppercase;

        }
        &__text{
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            opacity: 0.8;
        }
    }
}
.aboutme{
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    &__text{
        font-weight: 400;
        font-size: 28px;
        width: 560px;
        margin-left: 389px;
        margin-top: 23px;
        line-height: 150%;
        opacity: 0.8;
    }
    &__flex{
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-top: 43px;
        padding-right: 12px;
        gap: 32px;
        padding-bottom: 152px;
        &_direction{
            display: flex;
            flex-direction: column;
            gap: 17px;
        }
    }
    &__item{
        max-width: 258px;
        height: 150px;
        &__title{
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;

        }
        &__text{
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            opacity: 0.8;
            margin-top: 20px;
        }
    }
}

.stages{
    list-style: none;
    padding: 0;
    margin: 0;
}

.stage{
    display: flex;
    align-items: center;
    height: 100.5px;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    &__count{
        font-weight: 400;
        font-size: 28px;
        line-height: 150%;
    }
    &__title{
        font-weight: 400;
        font-size: 28px;
        line-height: 150%;
        margin-left: 40px;
        width: 342px;
    }
    &__text{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        opacity: 0.8;
        margin-left: 164px;
    }
}